section {
  background-color: #1d2021;
  border-radius: 10px;
  margin-left: 50px;
  margin-top: 50px;
  padding: 15px;
  width: 100%;
  height: 40vh;
  max-width: 50vw;
  min-height: 300px;
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  grid-gap: 7px;
}

.display {
  height: 100%;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: span 3;
  color: white;
  font-size: 50px;
}

button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

button:active {
  filter: brightness(50%);
}

button.cancel {
  background-color: grey;
}

button.numberBtn {
  background-color: #363439;
}

button#zero {
  grid-column: span 2;
}

button.funcBtn {
  background-color: #fe8e00;
}
